*,
html,
body{
    padding: 0; /*membuat padding pada halaman website menjadi 0*/
    margin: 0; /*membuat margin pada halaman website menjadi 0*/

    font-family: Montserrat; /*menggunakan font dari google font*/
    /* Font family */
}

/* Marquee START */
.marquee{
    width: 100%;
} 

.marquee .container{
    padding: 10px;
    color: white;
    background-color: rgb(0, 183, 255);


}
/* Marquee END */


/* Navbar START */
nav{
    width: 100%; /*lebar navbar sebesar 100%*/
}

nav .container{
    background-color: white; /*warna pada navbar = putih*/
    padding: 20px; /*memberikan jarak atau lebar pada navbar, dengan menggunakan padding*/
}

nav .container ul{
    display: flex; /*Supaya link pada navbar menjadi 1 baris, tujuanny agar mudah di atur dalam tata-letaknya*/
    justify-content:space-evenly; /* mengatur tata letak link di navbar*/
}

nav .container ul li{
    list-style-type: none; /*menghapus style list pada link di navbar*/
}

nav .container ul li .judul{
    color: rgb(0, 183, 255); /*link a memiliki warna biru*/
    font-size: 20px; /*mengatur ukuran link navbar*/
    font-weight: 700; /*memberikan ketebalan pada link di navbar*/
    text-decoration: none; /*menghapus garis bawah pada link di navbar*/
    padding: 5px; /*memberikan lebar pada link di navbar dengan padding sebesar 5px*/

    /* background-color: white;
    border-radius: 6px;
    border: 2px solid black; */

} nav .container ul li .judul:hover{
    text-decoration: underline rgb(0, 183, 255); /*ketika di hover maka akan muncul properti underline dengan warna hitam*/
    text-underline-offset: 5px;
}

nav .container ul li a{
    color: rgb(0, 183, 255);
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
} nav .container ul li a:hover{
    color: rgb(0, 183, 255);

    text-decoration: underline rgb(0, 183, 255);
    text-underline-offset: 5px;
}
/* Navbar END */

/* Hero START */
.hero{
    width: 100%;
}

.hero .container{
    padding: 0 10px 0 10px;
    background-color: white;
}

.hero .container {
    
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
    padding: 10px;

}

.hero .container img{
    /* background-color: rgb(0, 183, 255); */
    background-color: black;
    

    /* border-radius: 20px; */
    min-width: 80%;

    max-width: 50%;
    max-height: 700px;
    /* max-height: 800px; */

    /* object-fit: contain; */
    opacity: 1;
    transition: all ease-in 150ms;
} .hero .container img:hover{
    box-shadow: 0 0 20px 1px black;
    z-index: 1;

    transition: all ease-in-out 500ms;

}
/* Hero END */



/* Content START */
.content{
    width: 100%;
}

.content .container{
    padding: 5px;
    /* padding: 20px; */
}

.content .container h2{
    color: black;
    /* color: #2596be; */
}

.content .container .card{
    background-color: white;
}

.content .container .card .container{
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
    /* justify-content: space-between; */
}

.content .container .card .container a{
    color: black;
    font-weight: 700;
    text-decoration: none;

    box-shadow:  0 0 10px 1px black;

    background-color: white;
    padding: 10px;

    transition: all ease-in-out 250ms;
}


.content .container .card .container a:hover{
    z-index: 1;
    box-shadow: 0 0 20px 1px;

    transition: all ease  22ms 50ms;
}

.content .container .card .container a img{
    width: 100%;

    max-height: 400px;
} 

.content .container .card .container a p{

}
/* Content END */





/* Library START */
.library{
    width: 100%;
    background-color: #30302D; /*s*/

}

.library .container{
    padding: 5px;
}

.library .container h2{
    color: white; /*s*/
    border-bottom: 2px solid white; /*s*/
}

.library .container .card{
    background-color: #30302D; /*s*/

}

.library .container .card .container{
}

.library .container .card .container ul{
    overflow: auto;
    white-space: nowrap;
/*     padding: 10px; */

    display: flex;
    background-color: #30302D; /*s*/

}

.library .container .card .container ul a{
    /* text-align: center; */

    text-decoration: none;
} .library .container .card .container ul a:hover{
    font-weight: 700;
    }

.library .container .card .container ul p{
    /* color: black; */
    color: white; /*s*/
    text-align: center;

}


.library .container .card .container ul a img{
    border-radius: 20px;
    min-height: 200px;
    
    max-height: 200px;
    padding: 5px;
    /* padding: 5px; */
    /* background-color: white; */
    transition: all ease-in 550ms;

    background-color: #30302D; /*s*/
} .library .container .card .container ul a img:hover{
    opacity: 0.7;
    transition: all ease-in-out 50ms;
    }
/* Library END */
